<div class="col-sm-6">
    <div class="card">
        <div class="card-body row">
            <div class="col-8">
                <h5 class="card-title">Employé(e) commercial(e) principal(e) H/F - job post</h5>
                <p class="card-text">91940 Les Ulis</p>
                <button type="button" class="btn btn-primary btn-lg">Candidater</button>
            </div>
            <div class="col-4 img-post-card">
                <img src="img/Logo_Carrefour.png" height="100">
            </div>
        </div>
    </div>
</div>