<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Employé(e) commercial(e) principal(e) H/F - job post</h5>
                <p class="card-text">91940 Les Ulis</p>
                <a href="#" class="btn btn-primary btn-lg">Candidater</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Employé(e) commercial(e) principal(e) H/F - job post</h5>
                <p class="card-text">91940 Les Ulis</p>
                <a href="#" class="btn btn-primary btn-lg">Candidater</a>
            </div>
        </div>
    </div>
</div>