.hr-title {
    color: #0085FC;
}

.navbar {
    background-color: #0085FC !important;
}

#btn-filtrer:hover {
    color: #0085FC;
}

.dropdown-item:hover {
    background-color: #0085FC !important;
    color: #f8f9fa !important;
}

.a-popover:hover {
    color: rgba(0, 133, 252, 1);
    cursor: pointer;
}

.btn-icon-candidat {
    color: rgba(0, 133, 252, 1) !important;
}

.btn-icon-candidat:hover {
    color: rgba(0, 133, 252, 0.8) !important;
}

a#offre-link:hover {
    color: #0085FC !important;
}