.logo {
    background-image: url('../img/EmployMe-Logo.svg');
    height: 8vh;
    width: 8vh;
    background-repeat: no-repeat;
}

.header-container {
    margin-bottom: 1vh;
    background-color: #0085FC;
    display: flex;
    flex-direction: row;
    padding: 1vh 1vh 2vh 1vw;
    gap: 2vw;
    align-content: flex-start;
}

.button-container {
    background-color: #0085FC;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-content: flex-start;
    width: 100%;
    margin-top: auto;

}

.header-item {
    margin-left: 2vw;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}

.header-item > div {
    height: fit-content;
}

.header-title {
    margin-left: 0;
    font-size: 2.5em;
    padding-bottom: 0.5vh;
}

.header-search-field {
    margin-left: auto;
    width: 30vw;
}
.header-search-field > input {
    height: 6.5vh;
}

.svg-button {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search {
    background-image: url('../img/recherche_user.svg');
    height: 7vh;
    width: 22vh;
    background-repeat: no-repeat;
}
.search:hover {
    background-image: url('../img/recherche_user_hover.svg');
}

.profil {
    padding-top: 0.5vh;
    background-image: url('../img/profil.svg');
    height: 8vh;
    width: 8vh;
    background-repeat: no-repeat;
}

.profil:hover {
    background-image: url('../img/profil_hover.svg');
    height: 8vh;
    width: 8vh;
    background-repeat: no-repeat;
    padding-top: 0.5vh;
}

