.role-color {
    color: #FF8A00;
}

.navbar {
    background-color: #FF8A00 !important;
}

#btn-filtrer:hover {
    color: #FF8A00;
}

.dropdown-item:hover {
    background-color: #FF8A00 !important;
    color: #f8f9fa !important;
}

.a-popover:hover {
    color: #FF8A00;
    cursor: pointer;
}

.btn-role {
    background-color: rgba(255, 138, 0, 1);
    color: #f8f9fa;
}

.btn-role:hover {
    background-color: rgba(255, 138, 0, 0.8) !important;
    color: #f8f9fa !important;
}

.btn-role-outline {
    border-color: rgba(255, 138, 0, 1);
    background-color: #f8f9fa;
    color: rgba(255, 138, 0, 1);
}

.btn-role-outline:hover {
    background-color: rgba(255, 138, 0, 1) !important;
    color: #f8f9fa !important;
}

.btn-icon-role {
    color: rgba(255, 138, 0, 1) !important;
}

.btn-icon-role:hover {
    color: rgba(255, 138, 0, 0.8) !important;
}

.form-control:focus,
.form-select:focus {
    outline: none !important;
    box-shadow: 0 0 0 3px rgba(255, 138, 0, 0.5) !important;
    border-color: rgba(255, 138, 0, 0.8);
}

a#offre-link:hover {
    color: #FF8A00 !important;
}