.container {
  margin-top: 2%;
  margin-bottom: 2%;
}

.card-logo {
  text-align: right;
}

/*a {
  color: black;
  text-decoration: none;
}*/


.hr-title {
  height: 2px;
  border-top: 2px solid !important;
  color: #0085FC;
  opacity: 1;
  filter: drop-shadow(0 2px 4px);
  /*padding: 0 !important;
  margin: 0 !important;*/
}

.form-floating label{
  padding-left: 5%;
}

#btn-filtrer {
  opacity: .50;
}

#btn-filtrer:hover {
  color: #0085FC;
  opacity: 1;
}

#lbl-tri {
  text-align: right;
}



#filtres {
  margin-bottom: 2%;
}

#filtre-salaire {
  padding-bottom: .3rem;
  --bs-card-border-color: var(--bs-border-color);
}

#filtre-salaire label {
  margin-bottom: -3%;
  opacity: .65;
  margin-top: .25rem;
}

.navbar {
  background-color: #0085FC !important;
}

a.text-light:hover {
  color: #000000 !important;
}

.dropdown:hover .dropdown-menu{
  display: block;
  right: 0;
  left: auto;
}

@media(max-width: 576px){
  .card-logo{
    display: none;
  }

  .card-text-content{
    width: 100% !important;
  }
}