.container {
  margin-top: 2%;
  margin-bottom: 2%;
}

.navbar {
  filter: drop-shadow(0 2px 4px);
}

.logo-profil-offre {
  max-width: 100%;
}

.logo-detail-offre {
  max-width: 50%;
}

.card-logo {
  text-align: right;
}

hr {
  height: 2px;
  border-top: 2px solid !important;
  opacity: 1;
}

.drop-shadow {
  filter: drop-shadow(0 2px 4px);
}

#btn-filtrer {
  color: black;
}

#lbl-tri {
  text-align: right;
}

#filtre-salaire {
  padding-bottom: .3rem;
  --bs-card-border-color: var(--bs-border-color);
}

#filtre-salaire label {
  margin-bottom: -3%;
  opacity: .65;
  margin-top: .25rem;
}


a.text-light:hover {
  color: #000000 !important;
}

#dropdown-profil:hover .dropdown-menu{
  display: block;
  right: 0;
  left: auto;
}

.dropdown-li {
  margin: 3%;
}

.dropdown-item {
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: #0085FC !important;
  color: #f8f9fa !important;
}

.a-popover:hover {
  color: #0085FC;
  cursor: pointer;
}

.required {
  color: red;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.offre-etat-1 {
  padding-left: 2%;
  padding-right: 2%;
  background-color: #fcdc8b;
  border-radius: 15px;
}

.offre-etat-2 {
  padding-left: 2%;
  padding-right: 2%;
  background-color: lightgreen;
  border-radius: 15px;
}

.offre-etat-3 {
  padding-left: 2%;
  padding-right: 2%;
  background-color: lightcoral;
  border-radius: 15px;
}

.btn-disabled, btn-disabled:hover {
  color: var(--bs-btn-disabled-color);
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color) !important;
  opacity: var(--bs-btn-disabled-opacity);
}

.col-lg-5 {
  white-space: nowrap;
}

@media(max-width: 576px){
  .card-logo{
    display: none;
  }

  .card-text-content{
    width: 100% !important;
  }

  #dropdown-profil:hover .dropdown-menu{
    display: block;
    right: auto;
    left: 0;
  }
}