.container{
    margin-top: 2%;
}

.card-logo{
    text-align: right;
}



@media(max-width: 576px){
    .card-logo{
        display: none;
    }

    .card-text-content{
        width: 100% !important;
    }
}