<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', title='404'); %>
<body>
<%- include('../partials/headers/header', role=role); %>
<h1>Page Not Found - 404</h1>
<p>Il semblerait que la page que vous recherchez n'existe pas ...</p>
</body>
</html>