<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', title='Connexion'); %>
<body>
    <%- include("../partials/header-bs-simple"); %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 d-flex justify-content-center">
                <%- include("../partials/title", title=title); %>
            </div>
            <div class="col-sm-4">
                <form id="connexion-form" class="needs-validation">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="monadresse@mail.com">
                        <div class="invalid-feedback">
                            Veuillez renseigner une adresse email
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" name="pwd" id="password">
                        <div class="invalid-feedback">
                            Veuillez saisir un mot de passe
                        </div>
                    </div>
                    <div id="loginError" class="alert alert-danger mb-3" role="alert" style="display: none">
                        Email ou mot de passe incorrect !
                    </div>
                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                        <p class="mt-3 text-center">
                            <a href="#" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Mot de passe oublié ?</a>
                        </p>
                    </div>
                </form>
                <hr class="hr-title mt-3"/>
                <div class="mt-3 text-center">
                    <p>Pas encore de compte ?</p>
                    <a class="btn btn-primary" href="/creer-compte">Créer un compte</a>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/js/login.js"></script>

</html>