<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', title='Créer une organisation'); %>

<body>

    <%- include('../partials/headers/header', role=role); %>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 d-flex justify-content-center">
                <%- include('../partials/title', title="Créer une organisation"); %>
            </div>

            <form id="create-orga-form" class="col-md-8 mt-3 row g-3">
                <div id="successMessage" style="display: none" class="alert alert-success" role="alert">
                    La demande de création de l'organisation a bien été enregistrée et transmise aux administrateurs.<br>
                    Vous serez automatiquement redirigé vers le portail recruteur de votre organisation lorsque la demande aura été acceptée.
                </div>
                <div class="col-md-4">
                    <label for="siren" class="form-label">SIREN <b class="required">*</b></label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <a class="a-popover" tabindex="0" data-bs-toggle="popover" role="button" data-bs-trigger="hover focus" data-bs-placement="bottom"
                               data-bs-content="Le SIREN correspond à l'identifiant de l'entreprise. Il est composé d'une suite de caractères numériques">
                                <i class="bi bi-info-circle"></i>
                            </a>
                        </span>
                        <input type="text" class="form-control" id="siren">
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="nom" class="form-label">Nom <b class="required">*</b></label>
                    <input type="text" class="form-control" id="nom">
                </div>
                <div class="col-md-4">
                    <label for="type" class="form-label">Type d'organisation <b class="required">*</b></label>
                    <select id="type" class="form-select">
                        <option selected>Choisir</option>
                        <option value="1">Entreprise</option>
                        <option value="2">Association</option>
                    </select>
                </div>
                <div class="col-md-7">
                    <label for="siege" class="form-label">Siège social <b class="required">*</b></label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <a class="a-popover" tabindex="0" data-bs-toggle="popover" role="button" data-bs-trigger="hover focus" data-bs-placement="bottom"
                               data-bs-content="Saisir l'adresse du siège social de l'organisation (n° de rue, ville et code postal)">
                                <i class="bi bi-info-circle"></i>
                            </a>
                        </span>
                        <input type="text" class="form-control" id="siege" placeholder="4 rue du Chameau, 75000 Paris ...">
                    </div>

                </div>
                <div class="col-md-5">
                    <label for="logo" class="form-label">Logo <b class="required">*</b></label>
                    <input type="file" class="form-control" id="logo" name="logo">
                </div>
                <div class="col-12">
                    <label for="description">Description <b class="required">*</b></label>
                    <textarea class="form-control" placeholder="Cette organisation a pour but de ..." id="description" rows="4"></textarea>
                </div>
                <div class="col-12">
                    <div><small><b class="required">*</b> Champs obligatoires</small></div>
                </div>
                <div class="col-12 justify-content-center">
                    <div id="errorMessage" style="display: none" class="alert alert-danger text-center" role="alert">
                        Attention, tous les champs requis doivent être complétés !
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-primary">
                        Envoyer la demande de création <i class="bi bi-send"></i>
                    </button>
                </div>
            </form>
        </div>



    </div>

    <script src="/js/createOrganisation.js"></script>
</body>
</html>