<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', title='Créer compte'); %>
<body>
    <%- include("../partials/header-bs-simple"); %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 d-flex justify-content-center">
                <%- include("../partials/title", title='Créer un compte'); %>
            </div>
            <form class="col-md-8 mt-3 row justify-content-center" id="create-account-form">
                <div class="col-sm-12 row mb-4">
                    <div class="col-12 mb-1"><b>Informations personnelles</b></div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-person"></i>
                            </span>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="firstname" placeholder="name@example.com">
                                <label for="firstname">Prénom</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-person-fill"></i>
                            </span>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="lastname" placeholder="name@example.com">
                                <label for="lastname">Nom</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 row mb-4">
                    <div class="col-12 mb-1"><b>Contact</b></div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-telephone"></i>
                            </span>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="phone" placeholder="0606060606">
                                <label for="phone">Téléphone</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text">@</span>
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="myemail@email.com">
                                <label for="email">Email</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 row mb-4">
                    <div class="col-12 mb-1">
                        <b>Sécurité</b>
                        <a class="a-popover" tabindex="0" data-bs-toggle="popover" role="button" data-bs-trigger="focus"
                           data-bs-placement="right" data-bs-content="Le mot de passe doit contenir au moins 8 caractères">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-lock"></i>
                            </span>
                            <div class="form-floating">
                                <input type="password" class="form-control" id="password" placeholder="************">
                                <label for="password">Mot de passe</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-lock-fill"></i>
                            </span>
                            <div class="form-floating">
                                <input type="password" class="form-control" id="confirmedPassword" placeholder="************">
                                <label for="confirmedPassword">Confirmez votre mot de passe</label>
                            </div>
                        </div>
                    </div>
                    <div class="col justify-content-center">
                        <div id="errorMessage" style="display: none" class="alert alert-danger text-center" role="alert">
                            Les mots de passes ne sont pas identiques !
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-primary">Confirmer</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script src="/js/createAccount.js"></script>

</html>