<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', title='Accueil'); %>

<body>

<%- include('../partials/header', role=role); %>

<main class="container">

    <% if(role == 1) {%>
        <%- include('../partials/offres-candidat', offres=offresEmploi); %>
    <% }
    else { %>
        <%- include('../partials/offres-recruteur', offres=offresEmploi); %>
    <% } %>



</main>
</body>
</html>