<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="container">

    <div class="justify-content-between align-items-end" style="display: flex">
        <%- include('../partials/title', title="Liste des utilisateurs"); %>
        <div style="display: flex; flex-direction: row; float: right">
            <label for="filtre-role" class="col-form-label text-end" style="margin-left: calc(var(--bs-gutter-x) * .5); margin-right: calc(var(--bs-gutter-x) * .5)">Rôle :</label>
            <div class="col-md">
                <select id="filtre-role" class="form-select">
                    <option value="%%" selected>Tous</option>
                    <option value="1">Candidats</option>
                    <option value="2">Recruteurs</option>
                    <option value="3">Administrateurs</option>
                </select>
            </div>
        </div>
    </div>

    <div id="alertMessages" class="row justify-content-center"></div>

    <div id="usersTable">
        <%- include("../partials/usersList", users=users); %>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="/js/users.js">

</script>
</body>
</html>