<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', title='Utilisateurs'); %>

<body>
<%- include('../partials/header-bs'); %>
<main class="container">
    <div class="d-flex justify-content-between align-items-end">
        <%- include('../partials/title', title="Liste des utilisateurs"); %>
        <div class="d-flex flex-row">
            <label for="filtre-role" class="col-form-label text-end ms-2 me-2">Rôle :</label>
            <div class="col-md">
                <select id="filtre-role" class="form-select">
                    <option value="%%" selected>Tous</option>
                    <option value="1">Candidats</option>
                    <option value="2">Recruteurs</option>
                    <option value="3">Administrateurs</option>
                </select>
            </div>
        </div>
    </div>


    <div id="alertMessages" class="row justify-content-center"></div>

    <div id="usersTable">
        <%- include("../partials/usersList", users=users); %>
    </div>
</main>



<script src="/js/users.js">

</script>
</body>
</html>