<div class="row justify-content-center">
    <div class="col-12 text-center">
        <h3><b>Candidats</b></h3>
    </div>
    <div class="col-4"><hr class="m-0 role-color drop-shadow"></div>
</div>
<div class="mt-4 mb-5" style="text-align: justify;">
    <div class="table-responsive">
        <table class="table align-middle">
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Candidature</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr>
            <td>candidat@mail.fr</td>
            <td>Francis</td>
            <td>Toto</td>
            <td>0606060606</td>
            <td>
                <a class="btn btn-role-outline">
                    Télécharger <i class="bi bi-download"></i>
                </a>

            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>