<div class="row justify-content-center">
    <div class="col-12 text-center">
        <h3><b>A propos de l'<%= type_organisation %></b></h3>
    </div>
    <div class="col-4"><hr class="m-0 role-color drop-shadow"></div>
</div>
<div class="mt-4 mb-5" style="text-align: justify;">
    <%= description %>
</div>