<nav class="navbar sticky-top navbar-expand-lg" style="background-color: #FF8A00 !important;">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center justify-content-center" href="/">
            <img src="/img/EmployMe-Logo.svg" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
            <div class="text-light d-flex flex-column align-items-center">
                <b>EmployMe</b>
                <small>Recruteur</small>
            </div>

        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navabar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Offres de l'organisation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Gérer les recruteurs</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Poste, Organisation, Ville..." aria-label="Search">
                <button class="btn btn-outline-light d-flex align-items-center" type="submit">
                    <span class="me-2">Rechercher</span>
                    <i class="bi bi-search"></i>
                </button>
            </form>
            <div id="dropdown-profil" class="ms-5 me-2 dropdown float-right">
                <a aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" fill="#f8f9fa" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </a>
                <ul class="dropdown-menu text-center dropdown-menu-lg-end">
                    <li class="dropdown-li"><a class="dropdown-item" href="#">Mon compte</a></li>
                    <li class="dropdown-li"><a class="dropdown-item" href="#">Mes candidatures</a></li>
                    <li class="dropdown-li"><a class="dropdown-item" href="/logout">Se déconnecter</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>