<div class="modal fade" id="modal-creation-orga" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Demande de création d'une organisation</h1>
            </div>
            <div class="modal-body">
                <i class="bi bi-exclamation-triangle required"></i> Attention, vous êtes sur le point de demander la création d'une organisation.<br />
                Lorsque celle-ci sera acceptée par un administrateur, votre compte sera automatiquement transformé en compte <i>Recruteur</i>.<br />
                Une fois recruteur, toutes vos demandes (candidatures, rejoindre une organisation, créer une organisation, ...) seront supprimées définitivement.<br />
                Êtes-vous sûr de vouloir demander la création de cette organisation ?<br />
            </div>
            <div class="modal-footer d-flex justify-content-around">
                <button type="button" class="btn btn-lg btn-danger" data-bs-dismiss="modal">
                    Annuler <i class="bi bi-x-circle"></i>
                </button>
                <button type="button" id="btn-confirmer-creation" class="btn btn-lg btn-success" data-bs-dismiss="modal">
                    Confirmer <i class="bi bi-check-circle"></i>
                </button>
            </div>
        </div>
    </div>
</div>
