<!-- Modal -->
<div class="modal fade" id="modalSuppressionOffre" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Suppression de l'offre <i class="role-color bi bi-trash"></i></h1>
            </div>
            <div class="modal-body">
                <i class="bi bi-exclamation-triangle required"></i> Attention, vous êtes sur le point de supprimer définitivement cette offre.<br />
                Vous pouvez également modifier son état pour la marquer comme “expirée” en cliquant sur le bouton <i class="role-color bi bi-pencil-square"></i>.<br />
                Êtes vous sûr de vouloir supprimer définitivement cette offre ?<br />
            </div>
            <div class="modal-footer d-flex justify-content-around">
                    <button type="button" class="btn btn-lg btn-danger" data-bs-dismiss="modal">
                        Annuler <i class="bi bi-x-circle"></i>
                    </button>
                    <button onclick="supprimerOffre('<%= offre.id_offre %>', '<%= offre.intitule %>')" class="btn btn-lg btn-success" data-bs-dismiss="modal">
                        Confirmer <i class="bi bi-check-circle"></i>
                    </button>
            </div>
        </div>
    </div>
</div>
